
main {
        font-family: "EB Garamond", serif;
        font-size: x-large;
}

main:has(.gallery-container) {
        background-color: #666;
}

.main-container {
        max-width: 900px;
        margin: 30px auto;
        padding: 20px;
}

.text-container {
        max-width: 650px;
        margin: auto;
}

.navbar {
        font-size: larger;
}

.navbar-brand {
        font-family: "Petit Formal Script", cursive;
        font-weight: 700;
        font-size: xxx-large;
}

.card-link {
        display: block;
}

.card {
        font-family: var(--bs-body-font-family);
        transition: transform 0.2s, box-shadow 0.2s;
        border: none;
        border-radius: 10px;
        overflow: hidden;
}

.card:hover {
        transform: translateY(-5px);
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.card-text {
        padding-right: 50px;
}

.gallery-container {
        max-width: 100%;
        margin: auto;
}

.gallery-item {
        margin-bottom: 80px;
        text-align: center;
}

.gallery-item:last-of-type {
        margin-bottom: 0px;
}

.gallery-item img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.gallery-image.lazy-image {
        filter: blur(2px);
        transition: filter 0.5s ease-in-out;
}

.gallery-image.lazy-image-loaded {
        filter: blur(0);
}

.paper-revision {
        text-align: right;
        margin-bottom: -10px;
}

.article-canvas {
        width: 100%;
        height: 500px;
}

.about-profile-image {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        margin-bottom: 20px;
}

@keyframes pulseOpacity {
  0%   { opacity: 0.05; }
  50%  { opacity: 1; }
  100% { opacity: 0.05; }
}

.pulsate {
  animation: pulseOpacity 8.0s ease-in-out infinite;
}
