---
layout: default
title: papers
---

<div class="container">
  <div class="row g-4">
    <div class="col-md-6">
      {% include card.html url="/papers/efficient_structural_combination"
      title="Efficient structural combination" description="A common property
      for problems solvable in polynomial time." %}
    </div>
    <div class="col-md-6">
      {% include card.html url="/papers/duality_of_existence" title="Duality of
      existence" description="About how existence can be defined." %}
    </div>
  </div>
</div>
