<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include styles.html %} {% include mathjax.html %} {% seo %}
  </head>
  <body class="d-flex flex-column min-vh-100">
    {% include navbar.html %}

    <main class="d-flex justify-content-center">
      <div class="main-container w-100">
        <div class="text-container">
          <h1>{{ page.title }}</h1>
          <h5>by Patrick Schaffrath</h5>
          {% if page.revision %}
          <h6 class="paper-revision">revision {{ page.revision }}</h6>
          {% else %}
          <h6 class="paper-revision">revision 0</h6>
          {% endif %}
          <hr />
          <article>{{ content }}</article>
        </div>
      </div>
    </main>

    {% assign file_name = page.name | split: '.' | first %} {% assign
    script_path = '/assets/js/' | append: file_name | append: '.js' %} {% assign
    js_file = site.static_files | where: "path", script_path | first %}{% if
    js_file %}
    <script type="module" src="{{ script_path | relative_url }}"></script>
    {% endif %}
  </body>
</html>
